body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.prenavbar {
    height: 20px;
}

.lens-logo {
    width: 50px;
    font-weight: bolder;
}

.lens-logo img {
    width: 65%;
}

.jumbotron {
    background-image: url('../img/jumbo-bg.png');
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.jumbotron .row, .second-jumbotron .row {
    height: 100%;
    align-items: flex-end;
}

.jumbotron img, .second-jumbotron img {
    width: 75%;
}

.second-jumbotron {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.titles img{
    width: 100%;
}

.big-playstation-image img{
    width: 100%;
}

.playstation-devices img {
    width: 100%;
}

.selected-device {
    border-bottom: 3px solid blue;
}

.latest-titles {
    background-color: rgb(31, 31, 31);
}

.latest-titles img {
    width: 100%;
}

.explore img {
    width: 100%;
}

.ps-plus {
    background-color: gray;
}

.ps-plus img {
    width: 70%;
}

.ps-plus img:last-child {
    width: 100%;
    height: 100%;
}

.discounts img {
    width: 100%;
}

.playstation-now img {
    width: 70%;
}

.playstation-now img:last-child {
    width: 100%;
}

.playstation-now {
    background-color: rgb(22, 28, 59);
}

.social img {
    width: 100%;
}

footer {
    background-color: rgb(0, 67, 156);
}

footer img {
    width: 100%;
}

footer ul {
    list-style: none;
}

@media screen and (min-width: 992px) {
.social-contacts {
    width: 80%;
    margin: 0 auto;
    }
}